Windows Registry Editor Version 5.00

[HKEY_CLASSES_ROOT\QGIS Composer Template]
@="QGIS Composer Template"
[HKEY_CLASSES_ROOT\QGIS Composer Template\DefaultIcon]
@="x_BASE_x\\apps\\qgis\\icons\\qgis-qpt.ico"
[HKEY_CLASSES_ROOT\QGIS Layer Definition]
@="QGIS Layer Definition"
[HKEY_CLASSES_ROOT\QGIS Layer Definition\DefaultIcon]
@="x_BASE_x\\apps\\qgis\\icons\\qgis-qlr.ico"
[HKEY_CLASSES_ROOT\QGIS Layer Settings]
@="QGIS Layer Settings"
[HKEY_CLASSES_ROOT\QGIS Layer Settings\DefaultIcon]
@="x_BASE_x\\apps\\qgis\\icons\\qgis-qml.ico"
[HKEY_CLASSES_ROOT\QGIS Project]
@="QGIS Project"
"EditFlags"=hex:00,00,00,00
[HKEY_CLASSES_ROOT\QGIS Project\DefaultIcon]
@="x_BASE_x\\apps\\qgis\\icons\\qgis-qgs.ico"
[HKEY_CLASSES_ROOT\QGIS Project\Shell]
[HKEY_CLASSES_ROOT\QGIS Project\Shell\open]
@=""
[HKEY_CLASSES_ROOT\QGIS Project\Shell\open\command]
@="\"x_BASE_x\\bin\\qgis.bat\" \"%1\""

